.weather-card {
  margin: auto;
  width: 25%;
  background: #673ab7;
  color: #fff
}

.example-header-image {
  background-image: url('../../../assets/weather.jpg');
  background-size: cover;
}

.card-subtitle {
  color: #fff;
}

.weather-span {
  font-size: 22px;;
}
