.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.list-box {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.city-list {
  list-style: none;
  cursor: pointer;
  line-height: 48px;
  height: 48px;
}

.hide-autocomplete { display: none; }
